@media (prefers-color-scheme: dark) {


  html, main #main {
    background: none;
    border: none;
    box-shadow: none;
  }

  html {
    background-color: #0c0202;
    color: #dedede;
  }

  .panel {
    background-color: rgba(128, 128, 128, 0.25);
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 6px;
  }

  table {
    background-color: transparent;
    color: #b0b0b0;
    border-width: 0;
  }

  .panel table {
    border: 1px solid #3e434d;
  }

  td, th, table tfoot td, table tfoot th {
    background-color: #111;
    border-color: #3e434d;
  }

  table thead th {
    background-color: rgb(47, 47, 47) !important;
    color: white;
    border-width: 0;
  }

  table thead th:first-child { border-radius: 6px 0 0 0; }
  table thead th:last-child { border-radius: 0 6px 0 0; }
  .tablesorter-default tr.even td, tbody tr:nth-child(even) td { background-color: #111; }
  table.tablesorter thead th { background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAANzSzwAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAABACwAAAAAFQAJAAACF4yPgMsJ2mJ4VDKKrd4GVz5lYPeMiVUAADs=); }
  .tablesorter-default thead .tablesorter-headerAsc { background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAANzSzwAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAABACwAAAAAFQAEAAACDYyPAcmtsJyDVDKKWQEAOw==); }
  .tablesorter-default thead .tablesorter-headerDesc { background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAANzSzwAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAABACwAAAAAFQAEAAACDYwfoAvoz9qbZ9FrJC0AOw==); }


  /* Table Backgrounds */
  table tr.okay         { box-shadow: inset 10px 10px 20px 10px rgba(0, 255, 0, 0.11); }
  table tr.okay td      { border-top-color: rgba(0, 255, 0, 0.11); }
  table tr.okay a       { color: #00a400; }

  table tr.highlight    { box-shadow: inset 10px 10px 20px 10px rgba(255, 255, 0, 0.13); }
  table tr.highlight td { border-top-color: rgba(255, 255, 0, 0.13); }
  table tr.highlight a  { color: #949400;}

  table tr.warn         { box-shadow: inset 10px 10px 20px 10px rgba(255, 147, 0, 0.11); }
  table tr.warn td      { border-top-color: rgba(255, 147, 0, 0.11); }
  table tr.warn a       { color: #c06c00; }

  table tr.alert        { box-shadow: inset 10px 10px 20px 10px rgba(255, 0, 0, 0.09); }
  table tr.alert td     { border-top-color: rgba(255, 0, 0, 0.09); }
  table tr.alert a      { color: #c5050c; }

  table tr.gray         { background-color: rgba(128, 128, 128, 0.3); }
  table tr.gray td      { border-top-color: rgba(128, 128, 128, 0.3); }
  table tr.gray a       { color: #bbbdc4; }


  a, a:visited { color: #068ec4; text-shadow: 1px 1px 0 #111;}
  nav a, nav a:visited, table a, table a:visited { text-shadow: none; }

  footer { box-shadow: none; }


  /* Forms */
  label { color: #dedede; }
  input[type="text"],        input[type="date"],           input[type="password"],        input[type="email"],        input[type="number"],        input[type="file"],        textarea,        select,
  .panel input[type="text"], .panel input[type="date"],    .panel input[type="password"], .panel input[type="email"], .panel input[type="number"], .panel input[type="file"], .panel textarea, .panel select,
  input[type="text"]:focus,  input[type="password"]:focus, input[type="email"]:focus,     textarea:focus
  {
    background-color: rgba(4, 121, 168, .1);
    border-color: rgb(4, 121, 168);
    color: white;
    opacity: 80%;
    border-radius: 6px;
  }

  /* Buttons */
  input[type=submit], .button {
    border-radius: 6px;
    background-image: none !important;
    padding: 8px 19px 10px 19px; /* we added a 1px border, so we need to remove 1px of padding. */
    text-shadow: none !important; /* this doesn't look good in dark-mode.  Note vertical padding skewed 1px to compensate. */
  }

  input[type=submit],           .button           { border: 1px solid rgb(4, 121, 168);  background-color: rgba(4, 121, 168, .1) !important; }
  input[type=submit].okay,      .button.okay      { border: 1px solid rgb(96, 180, 111); background-color: rgba(96, 180, 111, .1) !important;  }
  input[type=submit].highlight, .button.highlight { border: 1px solid rgb(203, 199, 0);  background-color: rgba(203, 199, 0, .1) !important;   }
  input[type=submit].warn,      .button.warn      { border: 1px solid rgb(220, 129, 0);  background-color: rgba(220, 129, 0, .1) !important;   }
  input[type=submit].alert,     .button.alert     { border: 1px solid rgb(217, 54, 54);  background-color: rgba(217, 54, 54, .1) !important;   }
  input[type=submit].gray,      .button.gray      { border: 1px solid rgb(177, 177, 177);background-color: rgba(177, 177, 177, .1) !important; }

  .paper {
    background-color: #5d5e62;
  }

  /* Nav */
  nav, nav #nav ul.has_hamburger {
    background-image: none; /* removing the gradient */
    background-color: #9b0000;
  }

  /* Drop down menus */
  #nav ul ul li {
    background: #540e0b;
  }

  /* Top level hover */
  #nav li:hover  {
    background-color: #b40000;
  }
}