/* http://www.responsivegridsystem.com/downloads/css/col.css */

.container
{
  clear: both;
  padding: 0;
  margin: 0 15px 0 15px;
  max-width: 1600px;
}

.group:before,
.group:after
{
  content:"";
  display:table;
}
.group:after
{
  clear:both;
}
.group
{
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.column
{
  display: block;
  float:left;
  padding: 1%;
}



.span_3_of_3, .full         { width: 100%;   }
.span_2_of_3, .two_thirds   { width: 66.6%; }
.span_1_of_3, .one_third    { width: 33.3%; }



/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px)
{
  .column                   { margin: 1% 0 1% 0; }
  .span_3_of_3, .full       { width: 100%;       }
  .span_2_of_3, .two_thirds { width: 100%;       }
  .span_1_of_3, .one_third  { width: 100%;       }
  .container                { margin: 0;         }
}



/* This isn't another layout size, just a maximum for the container so it doesn't get too stretched out.  */
@media only screen and (min-width: 1600px)
{
  .container{
    width: 1600px;
    margin: 0 auto;
  }
}

