/* Smooth out any changes made from media queries */
* {
  transition: margin-left .3s, margin-right .3s;
}

/* Large and below,         * remove the extra space around <main> */
/*                          * disabled the fixed nav */
@media screen and (max-width:1279px) {
  body {
    margin-bottom: 2em;      /* space for footer only */
  }

  main, #notice, #alert {
    margin: 0;
    transition: margin 0s;
  }

  #main {
    border-width: 0 !important;
    box-shadow: none;
  }

  nav {
    position: relative;
    top:0;
    transition: margin 0s;
  }

  html {
    background-image: none !important;
    background-color: rgb(255, 250, 242) !important;  /* color copied from main */
    transition: background-color .6s; /* Reduce the color jump */
  }
}


/* Pure Medium and below - show a menu */
@media screen and (max-width:1023px) {

  /* Nav with 1 or 0 items in ul.right */
  nav #nav ul.right {
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
  }

  /* Nav with 2 or more menu items has_hamburger added via javascript */
  nav #nav ul.has_hamburger {
    position: relative;
    background-color: #b40000;
    top: 0;
    right: 0;
    display: none;
    clear: both;  /* Make sure to drop the menu down below the nav even if it would otherwise fit. */
  }
  nav #nav ul.right {
    float: right;
  }

  #nav #hamburger {
    display: block;
  }

}
