/* Smooth out any changes made from media queries */
* {
  transition: margin .3s;
}

/* Large (iPad) and below,  * remove the extra space around <main> */
/*                          * disabled the fixed nav */
@media screen and (max-width:79.938em) {
  body {
    margin-bottom: 2em;      /* space for footer only */
  }

  main {
    margin: 0;
    transition: margin 0s;
  }

  #main {
    border-width: 0 !important;
    box-shadow: none;
  }

  nav {
    position: relative;
    top:0;
    transition: margin 0s;
  }

  #notice, #alert {
    margin-top: 0;
  }

  html {
    background-image: none !important;
    background-color: rgb(255, 250, 242) !important;  /* color copied from main */
    transition: background-color .6s; /* Reduce the color jump */
  }
}


/* Pure Small */
@media screen and (max-width:47.938em) {

  /* Menu Items */
  nav #nav .right {
    position: absolute;
    background-color: rgb(0, 82, 136);
    width: 100%;
    height: 75px;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 99;
    display: none;
  }

  #nav #hamburger {
    display: block;
  }

  /* Sub Menus */
  nav #nav .right li > div {
  }

}
