/*
    Layout
    * Nav
    * Main
    * Footer
*/


/* Default to the same box sizing model for all tags */
* { box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%;         /* Needed for the footer to be placed correctly */
}

body {
  margin: 0 0 100px 0;      /* space for footer */
}

main {
  margin: 110px 25px;       /* Space for the NAV, and min side margin */
  display: block;
}

#main {
  margin: 0 auto;           /* Centered with max width */
  max-width: 1800px;
  padding: 20px;
  overflow: hidden;
}


footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
}
#footer {
  height: 2em;
  padding: .5em 0;
}
#footer > div {
  padding: 0 10px;  /* Space out any child divs within the footer */
}


nav {
  position:fixed;
  top: 0;
  width: 100%;
  padding: 20px 25px;
  height: 75px;
  overflow: hidden;
}

#nav{
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  height: 40px;
}

#nav * {
  vertical-align: top;
  position: relative;
  display: inline-block;
  margin: 0;
}
#nav li {
  line-height: 2em;
}

#nav .left > * { margin: 0 1em; }
#nav .left > *:first-child { margin: 0 1em 0 0; }
#nav .left img { margin-right: 1em; }



#nav form {
  height: 40px;
  overflow: hidden;
  margin: 0 20px;
}
#nav form input[type=text] {
  margin-top: 4px;
  padding-left: 15px;
}


/* Add a gutter to Pure's Columns */
.pure-g > div {
  padding: 0 1em;
}
.pure-g > div:first-child {
  padding-left: 0;
}
.pure-g > div:last-child {
  padding-right: 0;
}

/* Prevent unbreakable elements from expanding outside their pure column (tables etc) */
.pure-u-1 { overflow: hidden; }