/* Top Menus */

nav {
  background-color: rgb(0, 82, 136); /* IE 9 and below */
  background: linear-gradient(rgb(0, 82, 136), rgb(0, 96, 158));
  color: white;
}

#nav a {
  color: white;
}

/* Drop down menus */
#nav ul ul li {
  background: rgba(0, 82, 136, 0.98);
}

/* Hover Color */
#nav li:hover  {
  background-color: #00426e;
}
