/* Top Menus */

nav, nav ul li {
  background-color: #c5050c;
  background: linear-gradient(#cb050c, #c1050c);
  color: white;
}

#nav a {
  color: white;
}

/* Drop down menus */
#nav ul ul li {
  background: #9b0000;
}

/* Hover Color */
#nav ul li:hover  {
  background-image: none;
  background-color: #9b0000;
}
#nav ul li ul li:hover  {
  background-color: #b40000;
}


nav #nav ul.has_hamburger {
  background: #c5050c;
}
