@media print and (color) {
  * {
    /* Prevent browsers from discarding the majority of color info */
    -webkit-print-color-adjust: exact;
    -moz-print-color-adjust: exact;
    print-color-adjust: exact;
  }


  body, html, main, #main {
    background-color: white;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  .paper { box-shadow: none;}
  html        { font-size: 75%;}
  a           { text-decoration: none;}
  table th,
  table td    { padding: 3px; }

  /* Stuff to hide */
  nav, footer, .button, .no_print, input[type=submit] {
    display: none !important;
  }
}
