/* html tag should really only have background styles */
html {
  background-color: #7490b6;  /* Average color of defective_monitor.jpg */
  background-image: url(<%= asset_path 'dfm_web/molecule.png' %>), url(<%= asset_path 'dfm_web/defective_monitor.jpg' %>);
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: fixed;
}

nav, #notice, #alert {
  background-color: rgb(0, 82, 136); /* IE 9 and below */
  background: linear-gradient(rgba(0, 82, 136, 1), rgba(0, 82, 136, 0.78));
  color: white;
  box-shadow: 0 0 60px rgba(255,255,255,.5);
}

#notice, #alert {
  background: none;
  background-color: #338932;
}


/* Hover the close button to add visual cue */
#notice:hover:after, #alert:hover:after {
  background-color: rgba(0,0,0,.2);
  transition: background-color 0s;
}

#alert {
  background-color: #b94a48;
}

/* Give the notice content the same max width as the Nav */
#notice > div, #alert > div {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

#nav li > div {
  background-color: rgba(0, 82, 136, 0.78);
}
#nav li > div > a:hover {
  background-color: rgba(0, 82, 136, 1);
}



#main {
  background-color: rgb(255, 250, 242);
  border-width: 6px;
  border-color: rgba(59, 96, 140, 0.59);
  border-style: solid;
  box-shadow: -10px 10px 60px rgba(0,0,0,.5);
}

footer {
  color: white;
  background-color: rgba(0, 82, 136, 0.89);
  box-shadow: 0 0 60px rgba(255,255,255,.5);
}

/* Generic panel to isolate content visually */
.panel {
  border: 1px solid rgba(0,0,0,.2);
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}

/* Form within a panel needs a touch of color */
.panel input[type="text"],
.panel input[type="password"],
.panel input[type="email"],
.panel input[type="number"],
.panel input[type="file"],
.panel textarea,
.panel select{
  background-color: rgb(255, 255, 247);
}

.hide,
.hidden   { display: none; }
.full     { width: 100%; }
.half     { width: 50%; }
.w150     { width: 150px !important;}
.right    { float: right;}
.left     { float: left;}
.r        { text-align: right;}
.l        { text-align: left;}
.nobr     { white-space: nowrap; }


/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  display: table; /* like block, but doesn't use 100% width when undefined */
  margin: 0;
  font-weight: inherit;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 2em; line-height: 40px; margin: 10px 0; clear:both;}
h2 { font-size: 1.6em; line-height: 34px; margin-bottom: 8px; }
h3 { font-size: 1.2em; line-height: 30px; margin-bottom: 4px; }

/* Header right before .button  */
h1 + .button {
  float: right;
  margin-top: -3em;
}

/* Header right after .button  */
.button + h1 {
  display: inline-block;
  vertical-align: bottom;
}

/* Place a margin between consecutive <p> blocks */
p              { margin: 0 0 1em 0; }


img {
  margin: 0;
  vertical-align: top; /* vertical align fixes the mystery padding below img tags. */
  max-width: 100%;
}

em { font-style: italic; }
small { font-size: 80%; }
.monospace { font-family: monospace; font-size: 1.1em; }

hr {
  border: 0;
  height: 6px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(59, 96, 140, 0.4), rgba(0, 0, 0, 0));
  margin: 10px 0 30px 0;
  text-align: center;
}

/* #Links
================================================== */
a, a:visited { color: #505aff; text-decoration: none; outline: 0; transition:color .33s; }
p a, p a:visited { line-height: inherit; }




/* #Lists
================================================== */
ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/* #Images
================================================== */

img.scale-with-grid {
  max-width: 100%;
  height: auto; }


/* Reveal subtext on hover */
/* transitions don't work with width: auto, so a large-enough max-width is used instead */
/* Example: <h1 class="hover_span">LD<span>AP&nbsp;</span>E<span>n</span>R<span>ichment&nbsp;</span>P<span>rogram</span></h1>  */
.hover_span span {
  white-space: nowrap;
  max-width: 0;
  overflow: hidden;
  transition: max-width .75s;
  vertical-align: top;
  display: inline-block;
}
.hover_span:hover span {
  max-width: 300px;
  transition: max-width 1.5s;
}
