table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  width: 100%;
  border: 1px solid rgba(0,0,0,.2);
  margin-bottom: 20px;
  font-weight: lighter;
  background-color: white; /* Override this in your app to match your style. */
}
table thead  { display: table-header-group; }

table thead td, table thead th {
  border-left-width: 0;
  white-space: nowrap
}

td, th {
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  background-color: white;
  vertical-align: middle;
}

thead th {
  background-color: rgba(0, 0, 0, 0.15);
  color:  rgba(0,0,0,.6);
  font-weight: normal;
}

tbody th {
  background-color: rgba(0, 0, 0, 0.08);
  font-weight: lighter;
}
tfoot th {
  font-weight: bold;
}


td .button, th .button {
  margin: 0 5px 0 0;
}

th:first-child {
  border-left: 1px;
}



td.active::before {
  content: "☑";
  color: green;
  font-size: 1.5em;
}

tfoot tr td, tfoot tr th {
  background-color: rgba(0, 0, 0, 0.04);
  border-top-width: 0;
}

tfoot tr:first-child td, tfoot tr:first-child th{
  border-top-color: #aaa;
  border-top-width: 1px;
}


tfoot tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}



td input[type=text], th input[type=text]
{
  vertical-align: middle;
  margin:0;
}

td input + .button, td select + .button, th input + .button, th select + .button
{
  margin-top: -2em;
  float: right;
}


th.image,       td.image,
th.image img,   td.image img,
th.image a img, td.image a img
{
  padding: 3px;
  margin: 0;
  text-align: center;
  display:inline-block;
  overflow:hidden;
}

/* Minimal Tablesorter Styles */
table.tablesorter thead th {
  padding-left: 20px;
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-position: center left;
  background-repeat: no-repeat;
  cursor: pointer;
}

.tablesorter-default thead .tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

table.tablesorter thead th.sorter-false {
  background-image: none;
  padding-left: 10px;
  cursor: default;
}


/* Zebra & modifier classes */

/* Backgrounds */
table tr.okay td      { background-color: rgba(0, 255, 0, 0.11); }
table tr.highlight td { background-color: rgba(255, 255, 0, 0.16); }
table tr.warn td      { background-color: rgba(255, 147, 0, 0.11); }
table tr.alert td     { background-color: rgba(255, 0, 0, 0.09); }
table tr.gray td      { background-color: rgba(0, 0, 0, 0.1); }


/* darken even rows */

/* No modifier */
.tablesorter-default tr.even td, tbody tr:nth-child(even) td {
  background-color: rgba(128,128,128,.03);
}

/* okay */
.tablesorter-default tr.okay.even td, tbody tr.okay:nth-child(even) td {
  background-color: rgba(0, 200, 0, 0.11);
}

/* highlight */
.tablesorter-default tr.highlight.even td, tbody tr.highlight:nth-child(even) td {
  background-color: rgba(200, 200, 0, 0.16);
}

/* warn */
.tablesorter-default tr.warn.even td, tbody tr.warn:nth-child(even) td {
  background-color: rgba(200, 120, 0, 0.14);
}

/* alert */
.tablesorter-default tr.alert.even td, tbody tr.alert:nth-child(even) td {
  background-color: rgba(200, 0, 0, .12);
}

/* gray */
.tablesorter-default tr.gray.even td, tbody tr.gray:nth-child(even) td {
  background-color: rgba(0, 0, 0, 0.12)
}


table tfoot tr{
  transition: box-shadow 0.4s;
}

table tfoot tr:hover {
  box-shadow: inset 0 0 2px black;
  transition: box-shadow 0.05s;
}

/* Hide less important or sensitive information unless the user hovers the table */
table tr td.table_hover{
  color: rgba(0,0,0,0);
  transition: color 0.2s;
}
table:hover tr td.table_hover{
  color: inherit;
  transition: color 0.1s;
}