<h1>Printing</h1>

<h3>Available Classes:</h3>
<ul>
  <li>
    <code>no_print</code>
    <ul>
      <li>Useful for hiding forms, buttons etc.</li>
    </ul>
  </li>
  <li>
    <code>print_only</code>
    <ul>
      <li>Add print friendly content without affecting the screen layout.</li>
      <li>Print-Preview this page to see an example.</li>
    </ul>
  </li>
</ul>

<hr>

<div class="panel">
  <h2>Normal Content</h2>
  <ul>
    <li>This section will show on screen and in print.</li>
  </ul>
</div>

<div class="panel no_print">
  <h2>No Print</h2>
  <ul>
    <li>class: "no_print"</li>
    <li>This content will show on screen but will not be printed.</li>
  </ul>
</div>

<div class="panel print_only">
  <h2>Print Only</h2>
  <ul>
    <li>class: "print_only"</li>
    <li>This content will only show in print.</li>
  </ul>
</div>



