<h1>Pure Columns</h1>

<h3>Large: 4, Medium: 2, Default: 1</h3>
<div class="pure-g">
  <% 4.times do %>
  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
    <div class="panel">
      <%= render 'lorem' %>
    </div>
  </div>
  <% end %>
</div>
