<h2>Dr. Smith</h2>

<p>Here is some information you may be interested in.</p>

<ul>
  <li>Point 1</li>
  <li>Point 2</li>
  <li>Point 3</li>
</ul>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Alice', '#' %></td>
      <td>$50.00</td>
    </tr>
    <tr>
      <td><%= link_to 'Bob', '#' %></td>
      <td>$88.00</td>
    </tr>
    <tr>
      <td><%= link_to 'Carol', '#' %></td>
      <td>$75.00</td>
    </tr>
    <tr>
      <td><%= link_to 'David', '#' %></td>
      <td>$14.00</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <td>$227.00</td>
    </tr>
  </tfoot>

</table>



<p>Thank you for your time.</p>
