/*

Foundation's Visibility Classes ported to Pure CSS
This is for Foundation 5, they changed it totally in 6
I only did the show-for classes, not the hide-for
 -- JPD

Update:
  I made all the classes important.  Other display rules were getting more specificity and causing problems.
  The basic visibility classes should never break from user styles.
  !important is a bad practice in general, but this was the only way to ensure expected behavior.

| Extra Small |    Small    |    Medium    |     Large     | Extra Large |
| <------ 399 | 400 --- 639 | 640 --- 1023 | 1024 --- 1279 | 1280 -----> |

show-for-xsmall-only

show-for-small-up
show-for-small-only

show-for-medium-up
show-for-medium-only

show-for-large-up
show-for-large-only

show-for-xlarge-up
show-for-xlarge-only
*/



/* Pure Extra Large */
@media screen and (min-width:1280px) {
  .show-for-xsmall-only{display:none !important;}
  .show-for-small-only{display:none !important;}
  .show-for-medium-only{display:none !important;}
  .show-for-large-only{display:none !important;}
  .show-for-xlarge-only{display:inherit !important;}
}

/* Pure Large */
@media screen and (max-width:1279px) {
  .show-for-xlarge-up{display:none !important;}

  .show-for-xsmall-only{display:none !important;}
  .show-for-small-only{display:none !important;}
  .show-for-medium-only{display:none !important;}
  .show-for-large-only{display:inherit !important;}
  .show-for-xlarge-only{display:none !important;}
}

/* Pure Medium (iPad Portrait) */
@media screen and (max-width:1023px) {
  .show-for-large-up{display:none !important;}
  .show-for-xlarge-up{display:none !important;}

  .show-for-xsmall-only{display:none !important;}
  .show-for-small-only{display:none !important;}
  .show-for-medium-only{display:inherit !important;}
  .show-for-large-only{display:none !important;}
  .show-for-xlarge-only{display:none !important;}
}

/* Pure Small */
@media screen and (max-width:639px) {
  .show-for-medium-up{display:none !important;}
  .show-for-large-up{display:none !important;}
  .show-for-xlarge-up{display:none !important;}

  .show-for-xsmall-only{display:none !important;}
  .show-for-small-only{display:inherit !important;}
  .show-for-medium-only{display:none !important;}
  .show-for-large-only{display:none !important;}
  .show-for-xlarge-only{display:none !important;}
}

/* Pure Extra Small */
@media screen and (max-width:399px) {
  .show-for-small-up{display:none !important;}
  .show-for-medium-up{display:none !important;}
  .show-for-large-up{display:none !important;}
  .show-for-xlarge-up{display:none !important;}

  .show-for-xsmall-only{display:inherit !important;}
  .show-for-small-only{display:none !important;}
  .show-for-medium-only{display:none !important;}
  .show-for-large-only{display:none !important;}
  .show-for-xlarge-only{display:none !important;}
}
