@media print and (color) {

  * {
    text-shadow: none !important;
  }

  html {
    background: none;
    margin: 0 !important;
  }

  body {
    margin: 0 !important;
  }

  /******  NAVIGATION ******/

  /* Position Normally and remove the background */
  nav {
    position: relative;
    top:0;
    background: none;
  }

  /* Remove space to the left of the first .left (the nav title) */
  #nav > .left {
    left: 0;
  }

  /* Hide the white on white UW Logo */
  /* Todo: Replace with a black one */
  #nav > .left > a img{
    display: none;
  }

  /* Print Black instead of White */
  #nav * {
    color: black;
  }

  /* Hide Menus */
  #nav ul {
    display: none !important;
  }


  /******  MAIN ******/

  main {
    margin: 0 !important;
  }

  #main {
    box-shadow: none;
    background: none;
    border: none !important;
    padding: 1px; /*  Content vanishes without this, huh? */
  }


  /******  FOOTER ******/

  footer {
    position: relative;
    background: none;
    color: black;
    height: 1em;
  }

}
