<nav>
  <div id="nav">
    <ul class="left">
      <li class="no_hover">
        <%= link_to main_app.root_url do %>
          <%= image_tag "dfm_web/uwcrest.png", size: '25x40' %>
          <span>DFM Web</span>
        <% end %>
      </li>
    </ul>

    <ul class="right">
      <li><%= link_to "Example", '#' %></li>
      <li><%= link_to "Example", '#' %></li>
    </ul>
  </div>
</nav>
