<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    * { margin: 0; font-weight: normal; font-family: "Verlag", "Helvetica Neue", Helvetica, Arial, sans-serif;}
    html{ height: 100%; color: #494949; background-color: #f7f7f7; }
    img { max-width: 100%; }
    h6 { font-size: 26px; line-height: 42px; padding-left: 15px; background-color: #c5050c; background: linear-gradient(#cb050c, #c1050c); color: white; }
    #sasuke { min-height: 128px; float:left; width:100%; line-height: 1.5em; }
    img, p, ul, li { max-width: 600px; }
    #yield { padding: 32px; }
    h1,h2,h3,h4,h5,p,ul { margin-bottom: 1em; }
    b, strong { font-weight: bold; }
    table { margin: 20px 0; border-collapse: collapse; border-spacing: 0; border: 1px solid #ccc; min-width: 400px;}
    td,th { padding: 7px 10px; text-align: left; border-top: 1px solid #ccc; }
    th { background-color: #dadfe1; }
    td { background-color: #f9f9f9; }
    a, a:link, a:visited { color: #0479a8; text-decoration: none; }
    tr:nth-child(odd) td { background-color: #fff; }
  </style>
</head>

<body>
  <h6><%= Rails.application.class.parent_name %></h6>
  <div id="sasuke">
    <div id="yield">
      <%= yield %>
    </div>
  </div>
  &nbsp;<!-- <%= Time.now.to_i %> -->&nbsp;

</body>
</html>
